@model ClassDemo.Models.Role
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<div>
    @using (Html.BeginForm("Edit", "Role"))
    {
        <table>
            <tr>
                <td>Id</td>
                <td>@Html.TextBoxFor(m=>m.RoleId, new { @class = "form-control", @readonly="null" })</td>
            </tr>
            <tr>
                <td>Role &nbsp;</td>
                <td>@Html.TextBoxFor(m=>m.UserRole, null, new { @class = "form-control" })</td>
                <td><input type="submit" value="Add" class="btn-success" /></td>
            </tr>
        </table>
        <br />
    }
</div>
